
/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */


.button-raised{
    -fx-padding: 0.7em 0.57em;
    -fx-font-size: 14px;
    -jfx-button-type: RAISED;  
    -fx-background-color: rgb(77,102,204);
    -fx-pref-width: 200;
    -fx-JFXTextField-fill: WHITE;
}

#root {
 -fx-background-color:  linear-gradient(lightgray, gray);
 -fx-border-color: white;
 -fx-border-radius: 20;
 -fx-padding: 10 10 10 10;
 -fx-background-radius: 20;
 
}

#bp {
 -fx-background-color:  linear-gradient(gray,DimGrey );
 
}

#btnLogin {
    -fx-background-radius: 30, 30, 29, 28;
    -fx-padding: 3px 10px 3px 10px;
    -fx-background-color: linear-gradient(orange, orangered );
}

#text {
 -fx-fill:  linear-gradient(orange , orangered);
}
